* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: space-between;
}

.main {
  text-align: center;
}

.main h1 {
  padding: 2rem;
}

.controls {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
}

.controls > * {
  padding: 1.5rem;
}

.sketch-pad {
  width: 960px;
  height: auto;
  margin: 1rem;
  border: 1px solid black;
}

/* BOARD SIZE SLIDER */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  margin-top: 1rem;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #386a8e;
  height: 0.5rem;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4.5px; /* Centers thumb on the track */
  background-color: #9bbbd1;
  height: 1rem;
  width: 0.7rem;
}

/* COLOR PICKER */
.color-picker {
  margin: 1rem;
  border: none;
  width: 4rem;
  height: 3rem;
}

.btn-rainbow {
  border-radius: 8px;
  border: none;
  background-image: linear-gradient(
    90deg,
    #f38ba0,
    #f6ae99,
    #f1ca89,
    #d5ecc2,
    #bdd2b6,
    #87a7b3,
    #e4bad4
  );
  cursor: pointer;
  font-size: 1.3rem;
}
